*.sln
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Bb]og/
[Oo]bj/
[L2]og/
*.suo
*.userhost
*.pdb
*.dll
*.exe

.idea/
*.sln.iml

.vs/
*.vsp
*.vspx
*.sap
*.opendb
*.db

*.env
appsettings.Development.json
appsettings.Secret.json

.DS_Store
Thumbs.db